@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the scrollbar width */
::-webkit-scrollbar {
    width: 12px;
}

/* Customize the track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #70110A;
}

/* Customize the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #9F180E;
    border-radius: 6px;
}

/* Customize the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EE6C4D;
}

::selection {
    background: #70110A; /* Highlight background color */
    color: #090A0C;      /* Highlight text color */
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}